{% extends "_base.html" %}
{% block navbar %}{% endblock %}
{% block title %}Password Reset{% endblock %}
{% block page_content %}
    <article>
        <div class="page-header">
            <h1>Reset your Password</h1>
        </div>
        <form method="POST" action="{{ url_for("auth.password_reset", token=token) }}">
            <div>
                <div>
                    {{ form.password.label }}
                    {{ form.password() }}
                    {{ form.password.label }}
                    {{ form.password2() }}
                    {{ form.csrf_token }}
                </div>
                <div>
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </article>
{% endblock %}