<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
        {% endblock %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    {% endblock %}
    <title>{% block title %}Blog{% endblock %}</title>
</head>
<body>
<div class="cms">
    {% block navbar %}
        <nav class="vertical-menu-wrapper">
            <div class="vertical-menu-logo">
                <div>CMS</div>
            </div>
            <ul class="vertical-menu">
                <li>Posts</li>
                <li>Pages</li>
                {% if current_user.can(permissions.ADMIN) %}
                    <li><a href="{{ url_for("cms.user_index") }}">Users</a></li>
                    <li>Settings</li>
                {% endif %}
                <li id="user-info">{{ current_user.username }}</li>
            </ul>
        </nav>
    {% endblock %}
    <div class="content-wrapper">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block scripts %}
        <script src="{{ url_for("static", filename="dist/main.bundle.js") }}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    {% endblock %}
</div>
</body>
</html>