<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
        {% endblock %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    {% endblock %}
    <title>{% block title %}Blog{% endblock %}</title>
</head>
<body>
{% block navbar %}
    <header class="header">
        <a href="index.html" class="logo">
            <img src="assets/logo.png" style="width: 2rem;">
            <span>fibonacci</span>
        </a>

        <nav>
            <ul>
                <li>
                    <form class="search-form">
                        <input type="search" placeholder="Search...">
                        <span class="icon search"></span>
                    </form>
                </li>
                <li>
                    <a href="index.html">home</a>
                </li>
                <li>
                    <a href="contact.html">contact</a>
                </li>
                <li>
                    <a href="about.html">about</a>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}
{% block content %}
    <main class="main">
        {% if not current_user.confirmed %}
            <div>You have not confirmed your account yet.</div>
            <div>Need another confirmation email? <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
            </div>
        {% endif %}
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        {% block page_content %}
        {% endblock %}
    </main>
{% endblock %}
{% block footer %}
    <footer class="footer">
        {% block footer_content %}
            &copy; 2018 &middot; All Rights Reserved
        {% endblock %}
    </footer>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for("static", filename="js/index.js") }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
</body>
</html>